 .new-products{
  background: #2b2b2b;
  padding: 60px 0px;
 }
 
 .featured-products-title{
  display:flex;
  font-size:$fs-h2;
  justify-content: center;
  color:#FFF;
  font-family: $font-main;
}

.featured-wrapper{
  margin-top: 32px;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 20px;
}

 .new-product-card {
  position: relative;
  display: flex;
  flex-direction: column;
  padding: 24px;
  border-radius: 4px;
  overflow: hidden;
}
 
.new-product-card img {
  width: 100%;
  height: auto;
  display: block;
  object-fit: contain;
  margin-bottom: 24px;
}

.new-product-card p{
  padding: 8px;
  display: flex;
  color: #FFF;
  justify-content: center;
  font-family: $font-main;
}

@media (max-width:768px) {
  .featured-wrapper{
    margin-top: 32px;
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    gap: 20px;
  }
}
