.form-place {
    background: #404040;
    padding: 70px 0;
    display: flex;
}

.form-wrapper {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 40px;
    max-width: 1296px;
    width: 100%;
    margin: 0 auto 60px;
}

.sample-wrapper {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 12px;
}

.sample-wrapper-photo img {
    width: 306px;
    height: 306px;
    object-fit: cover;
    display: block;
}

.left{transform: translateY(48px);}

.right{transform: translateY(-48px);}

.form-title {
    display: flex;
    flex-direction: column;
}

.form-title h2{
    color:#FFFFFF;
    text-align: center;
    padding-bottom: 24px;
}

.form-title p{
    display: block;
    color:#FFFFFF;
    padding-bottom: 48px;
}

.sign-form{
    display: flex;
    flex-direction: column;
    background: transparent;
    gap:24px;
    padding-bottom: 24px;
}

.sign-form label {
    color: #ffffff;
    font-size: $fs-h6;
}

.sign-form input {
    width: 100%;
    height: 56px;
    border-radius: 4px;
    border: 1px solid #d9d9d9;
    font-size: $fs-h6;
    background: transparent;
}

.sign-form input::placeholder {
    color: #9e9e9e;
}

.sign-form  input:focus {
    outline: none;
    border-color: #ffffff;
}

.send-form{
    display: flex;  
    justify-content: flex-end;
}

.send-btn{
  width: auto;
  padding: 8px 24px;
  font-size: $fs-h6;
}

@media (max-width:768px){
    .form-wrapper {
        display: grid;
        grid-template-columns: repeat(1, 1fr);

        grid-template-columns: 1fr;
        grid-template-areas:
        "right"
        "left";

    }

    .form-wrapper-left{
        grid-area: left;
    }
    .form-wrapper-right{
        grid-area: right;
    }


    .send-btn{
        width: 100%;
        padding: 8px 24px;
        font-size: $fs-h6;
    }
}