h1 {
  font-size: $fs-h1;
  line-height: 120%;
  font-weight: 400;
  font-family: $font-main;

  @media (max-width: 428px) {
    font-size: $fs-m-h1;
    font-weight: 500;
  }
}

h1 {
  font-size: $fs-h1;
  line-height: 120%;
  font-weight: 400;
  font-family: $font-main;

  @media (max-width: 428px) {
    font-size: $fs-m-h1;
    font-weight: 500;
  }
}

h1 {
  font-size: $fs-h1;
  line-height: 120%;
  font-weight: 400;
  font-family: $font-main;

  @media (max-width: 428px) {
    font-size: $fs-m-h1;
    font-weight: 500;
  }
}

h1 {
  font-size: $fs-h1;
  line-height: 120%;
  font-weight: 400;
  font-family: $font-main;

  @media (max-width: 428px) {
    font-size: $fs-m-h1;
    font-weight: 500;
  }
}

h1 {
  font-size: $fs-h1;
  line-height: 120%;
  font-weight: 400;
  font-family: $font-main;

  @media (max-width: 428px) {
    font-size: $fs-m-h1;
    font-weight: 500;
  }
}

h1 {
  font-size: $fs-h1;
  line-height: 120%;
  font-weight: 400;
  font-family: $font-main;

  @media (max-width: 428px) {
    font-size: $fs-m-h1;
    font-weight: 500;
  }
}

.body-1 {
  font-size: $fs-body1;
  line-height: 150%;
  font-weight: 400;
  font-family: $font-main;

  @media (max-width: 428px) {
    font-size: $fs-m-body1;
    font-weight: 500;
  }
}

.body-1 {
  font-size: $fs-body1;
  line-height: 150%;
  font-weight: 400;
  font-family: $font-main;

  @media (max-width: 428px) {
    font-size: $fs-m-body1;
    font-weight: 500;
  }
}

.body-1 {
  font-size: $fs-body1;
  line-height: 150%;
  font-weight: 400;
  font-family: $font-main;

  @media (max-width: 428px) {
    font-size: $fs-m-body1;
    font-weight: 500;
  }
}

.body-1 {
  font-size: $fs-body1;
  line-height: 150%;
  font-weight: 400;
  font-family: $font-main;

  @media (max-width: 428px) {
    font-size: $fs-m-body1;
    font-weight: 500;
  }
}

.body-1 {
  font-size: $fs-body1;
  line-height: 150%;
  font-weight: 400;
  font-family: $font-main;

  @media (max-width: 428px) {
    font-size: $fs-m-body1;
    font-weight: 500;
  }
}

.body-1 {
  font-size: $fs-body1;
  line-height: 150%;
  font-weight: 400;
  font-family: $font-main;

  @media (max-width: 428px) {
    font-size: $fs-m-body1;
    font-weight: 500;
  }
}

.body-1 {
  font-size: $fs-body1;
  line-height: 150%;
  font-weight: 400;
  font-family: $font-main;

  @media (max-width: 428px) {
    font-size: $fs-m-body1;
    font-weight: 500;
  }
}