//字級
$fs-h1: 40px;
$fs-h2: 32px;
$fs-h3: 28px;
$fs-h4: 24px;
$fs-h5: 20px;
$fs-h6: 16px;
$fs-body1: 40px;
$fs-body2: 32px;
$fs-body3: 28px;
$fs-body3: 24px;
$fs-body3: 20px;
$fs-body3: 16px;

$fs-m-h1: 40px;
$fs-m-h2: 32px;
$fs-m-h3: 28px;
$fs-m-h4: 24px;
$fs-m-h5: 20px;
$fs-m-h6: 16px;
$fs-m-body1: 40px;
$fs-m-body2: 32px;
$fs-m-body3: 28px;
$fs-m-body4: 24px;
$fs-m-body5: 20px;
$fs-m-body5: 16px;