@import "./variables";
@import "./base";
@import "./reset";

@import "../sections/header/header";
@import "../sections/banner/banner";
@import "../sections/new-product/new-product";
@import "../sections/color-selective/color-selective";
@import "../sections/form/form";
